<section class="mt-10">
  <script src="https://giscus.app/client.js"
        data-repo="dominikzone/dominikzone-blog"
        data-repo-id="R_kgDORVweAg"
        data-category="General"
        data-category-id="DIC_kwDORVweAs4C28qJ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
</section>